.table-container {
  padding: 1rem;
}

th {
  padding: 1rem 0;
}

.checkbox {
  display: flex;
  align-items: center;
}

input {
  margin-right: 0.5rem;
}

td {
  font-weight: bold;
}

.table-todo {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
